
  <div id="upper-border"></div>
<div class="container-fluid container-home-custom">

<div id="top-div">
	<div class="col-md-3 col-md-offset-4">
		<div class="panel panel-default" id="signup-panel">
		  <div class="panel-body">
        <form action="" method="" id="signfrm" >
      		<h3 class="sign-h"><span id="sign-icon"><i class="fa fa-sign-in"></i></span>Sign Up!</h3>
      			<input name="surname" placeholder="Enter your first name" [(ngModel)]="newUser.name" class="form-control"  type="text">
      			<input name="surname" placeholder="Enter your surname" [(ngModel)]="newUser.surname" class="form-control"  type="text">
      			<input name="email" placeholder="Enter your e-mail ID" [(ngModel)]="newUser.email" class="form-control"  type="text">
      			<input name="password" placeholder="Create your password" [(ngModel)]="newUser.password" class="form-control"  type="password">
      			<button type="submit" class="btn btn-primary" (click)="signup()" >Submit</button>
            <a href="/login">Log in</a>
      		</form>
				<!-- <div>{{error}}</div> -->
		  </div>
		</div>
	</div>
</div>
