<div class="row">
    <h1 class="list-title center-title">EVENTS LIST</h1>
</div>

<form>
    <ul>
        <li>
            <hr>
            <!-- NAME FIELD -->
            <div class="row">
                <div class="small-12 columns" *ngFor="let event of events">
                    <h4 class="event-name">Event name: {{ event.name }}</h4>
                </div>
            </div>
            <!-- EDIT & DELETE BUTTONS -->
            <div class="row">
                <div class="small-2 columns">
                    <a routerLink="/" class="button tiny">Edit Event</a>
                </div>
                <div class="small-10 columns">
                    <a href="#" (click)="events.$remove(event)" class="button tiny alert">Delete Event</a>
                </div>
            </div>
            <!-- VIEW DETAILS BUTTON -->
            <div class="row">
                <div class="small-12 columns">
                    <a routerLink="/">View details</a>
                </div>
            </div>
    </li>
</ul>
</form>
