<div *ngIf="event">
  <!-- DATE FIELD -->
  <div class="row">
      <div class="small-4 columns">
          Date: {{ event.date }}
      </div>
  </div>

  <!-- DETAILS FIELD -->
  <div class="row">
      <div class="small-10 columns"><span style="display: block;">Details</span>
          <textarea class="small-11 columns">{{event.details}}</textarea>
      </div>
  </div>
  <!-- CATEGORY - CREATED/UPDATED FIELDS -->
  <div class="row">
      <div class="small-3 columns">
          Location: {{event.location}}
      </div>
  </div>
</div>
