<div *ngIf="event">
  <!-- NAME FIELD -->
  <div class="row">
      <div class="small-4 columns">
          Name: {{ event.name }}
      </div>
  </div>

  <!-- DATE FIELD -->
  <div class="row">
      <div class="small-4 columns">
          Date: {{ event.date }}
      </div>
  </div>

  <!-- DETAILS FIELD -->
  <div class="row">
    <div class="small-3 columns">
        Details: {{event.details}}
    </div>
  </div>
  <!-- LOCATION FIELD -->
  <div class="row">
      <div class="small-3 columns">
          Location: {{event.location}}
      </div>
  </div>
</div>
